*{
 background-image:url(https://i.ibb.co/4RYBggL/image.png);
}
.privet{
	margin-left: 500px;
	color: red;
}
.matesha{
background-color:#b8bbc2 ;
	color: white; 
    border-radius:12px;
    text-align: center;
    padding: 10px;
    margin-top: 100px;
    width: 100px;
    height: 220px;
}
.info{
margin-left: 5px;
}
.russkiy{
background-color:#b8bbc2 ;
	color: white; 
    border-radius:12px;
    padding: 10px;
    margin-top: 70px;
    width: 100px;
    margin-left: 0px;
}
.privet>span,.privet>span::before,.privet>span::after{
display: block;
position: absolute;
width: 100%;
height:2px;
background-color: ;
}
.privet>span::before{
  content:'';
  top: -8px;
}
.privet>span::after{
  content: '';
  top: 8px ;
}
input, textarea {   max-width:100% }
img {   max-width: 100% }
.header {   background: url(header.png) 50% no-repeat;   background-size: contain }
.top{
  color: red;
}